{% extends "base.html" %}

{% block title %}Fixed Expenses{% endblock %}

{% block content %}
  <!-- Your existing Expenses content -->
    <!-- New block for Fixed Expenses -->
    <div>
        <h1>Fixed Expenses</h1>
    
        <!-- Form for adding fixed expenses -->
        <form method="POST" action="{{ url_for('views.fixed_expenses') }}">
          <label for="fixedExpense">Fixed Expense: &nbsp;</label>
          <input type="text" id="fixedExpense" name="fixedExpense" required oninput="capitalizeDescription(this)">
          <br />
          <label for="fixedAmount">Amount: $</label>
          <input type="number" id="fixedAmount" name="fixedAmount" min="0" step="0.01" required>
          <br />
          <br />
          <button type="submit" >Add Fixed Expense</button>
          <br />
          <br />
        </form>
    
        <!-- Sorting options for fixed expenses -->
        <div>
          <label for="fixedSortSelect" style="margin-left:150px">Sort by:</label> 
          <select id="fixedSortSelect" onchange="location = this.value;">
            <option value="{{ url_for('views.fixed_expenses', sort_by='default') }}">Pick a sorting option</option>
            <option value="{{ url_for('views.fixed_expenses', sort_by='amount_asc') }}">Amount (Ascending)</option>
            <option value="{{ url_for('views.fixed_expenses', sort_by='amount_desc') }}">Amount (Descending)</option>
          </select>
        </div>
    
        <!-- Display the list of fixed expenses -->
        <h2>Fixed Expense List:</h2>
        <ul style="list-style: none; padding: 0;">
          {% for fixedExpense in fixedExpenses %}
            <li style="margin-bottom: 20px; border: 1px solid #ddd; padding: 15px; position: relative;">
              <strong>{{ fixedExpense.description }}</strong><br>
              Amount: <span id="fixedExpenseAmount{{ fixedExpense.id }}">{{ fixedExpense.amount }}</span><br>
              <button type="button" class="close" style="position: absolute; top: 10px; right: 10px;" onClick="deleteFixedExpense({{ fixedExpense.id }})">Delete</button>
            </li>
            <script>
              var fixedExpenseAmount = document.getElementById("fixedExpenseAmount{{ fixedExpense.id }}");
              fixedExpenseAmount.textContent = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(parseFloat(fixedExpenseAmount.textContent));
            </script>
          {% endfor %}
        </ul>
    
        <!-- Display the total fixed expense -->
        <h2>Total Fixed Expenses: <span id="totalFixedExpense">{{ total_fixed_expense }}<span/></h2>
        <script>
          var totalFixedExpense = document.getElementById("totalFixedExpense");
          totalFixedExpense.textContent = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(parseFloat(totalFixedExpense.textContent));
        </script>
    
        <script>
          // Function to capitalize description
          function capitalizeDescriptionFixed(input) {
            var words = input.value.split(' ');
            for (var i = 0; i < words.length; i++) {
              words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
            }
            input.value = words.join(' ');
          }
        </script>
      </div>
{% endblock %}